*{
    margin: 0;
    padding: 0;
  }
  
  section{
    padding: 100px 200px;
  }
  main img{
    border-radius: 100%;
    border: 10px solid;
  }
  
  body{
    font-family: sans-serif;
    margin: 10px;
    padding: 10px;
  }
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    }
li {
    float: left;
   }
li a,.media{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .Social:hover:hover,.media{
    background-color: blue;
}

li.Social{
    display: inline-block;
}

.isisosmed{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.isisosmed a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.isisosmed a:hover{background-color: blue;}
.Social:Hover .isisosmed{
    display: block;
    }
    h2
    {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: initial;
}

.container{
 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 12px;
  grid-auto-rows: minmax(100px, auto);
}

.container > div{
  background-color: skyblue;
  display: flex;
  padding: 3em;
  border: 3px solid black;
}

.portofolio{
  grid-column: 1/2;
  grid-row: 1/3;
}
